h1 {

    text-align: center;

}

h4 {

    text-align: center;
    font-style: italic;
    color: gray;

}

.shoppingList {

    border: 1px dashed black;
    margin: auto;
    width: 400px;
    
}

.separatorLine {

    width: 700px;
    margin: auto;

}

.pieRecipe {

    border: 1px dashed black;
    margin: auto;
    width: 400px;

}
